
@media (prefers-color-scheme: light) {
    html {
        /* 一张背景图像
        自适应大小，不重复，居中，固定
        */
        background-image: url("\background.jpg"); /*这张图是从https://www.bilibili.com/video/BV1GS411P78n
        下载的*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    #title {
        /* 字体 */
        font-family: "Unifont";
        /* 字体颜色 */
        color: #00ffff8f;
        /* 背景颜色 */
        background-color: #00000000;
        /* 边框 */
        border-radius: 10px;
        /* 边框后背景处理 */
        backdrop-filter: blur(5px);
        /* 文本对齐方式 */
        text-align: center;
        /* 行高 */
        line-height: 1.5;
        width: 20%;
        /* 总体居中对齐 */
        margin: 0 auto;
    }
    #content {
        /* 字体 */
        color: #000000af;
        font-family: "Unifont";
        width: 60%;
        border-radius: 6px;
        /* 边框后背景处理 */
        backdrop-filter: blur(7px);
        /* 总体居中对齐 */
        margin: 0 auto;
        /* 内边距 */
        padding-left: 14px;
        padding-right: 14px;
        border: 1px solid #2f2f2f2f;
        transform: translateY(10px);
    }
}
@media (prefers-color-scheme: dark) {
    html {
        /* 一张背景图像
        自适应大小，不重复，居中，固定
        */
        background-image: url("\background-dark.jpg"); /*这张图是从https://www.bilibili.com/video/BV1GS411P78n
        下载的*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;
    }
    #title {
        /* 字体 */
        font-family: "Unifont";
        /* 字体颜色 */
        color: #00ffff8f;
        /* 背景颜色 */
        background-color: #00000000;
        /* 边框 */
        border-radius: 10px;
        /* 边框后背景处理 */
        backdrop-filter: blur(5px);
        /* 文本对齐方式 */
        text-align: center;
        /* 行高 */
        line-height: 1.5;
        width: 20%;
        /* 总体居中对齐 */
        margin: 0 auto;
    }
    #content {
        /* 字体 */
        font-family: "Unifont";
        color: #ffffffaf;
        width: 60%;
        border-radius: 6px;
        /* 边框后背景处理 */
        backdrop-filter: blur(7px);
        /* 总体居中对齐 */
        margin: 0 auto;
        /* 内边距 */
        padding-left: 14px;
        padding-right: 14px;
        border: 1px solid #9f9f9faf;
        transform: translateY(10px);
    }
}
/* 字体 */
@font-face {
    font-family: "Unifont";
    src: url("\unifont.otf");
}
